<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="$safeprojectname$.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="$safeprojectname$.Properties.Settings.EngineeringConnectionString"
            connectionString="Data Source=SPITSYN-D\SQL2017;Initial Catalog=Engineering;User ID=sa;Password=supervisor"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <userSettings>
        <$safeprojectname$.Properties.Settings>
            <setting name="Страница" serializeAs="String">
                <value>propertyGrid1</value>
            </setting>
        </$safeprojectname$.Properties.Settings>
    </userSettings>
</configuration>